<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="softwaretestingmaterial" parallel="methods">
	<test name="testngTest">
		<classes>
			<class name="com.project.staragile.insureme.InsureMeApplicationTests" />
		</classes>
	</test>	
</suite>
